<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PFoodGauge"
        tools:targetApi="31">
        <activity
            android:name=".agregarMascota"
            android:exported="false" />
        <activity
            android:name=".verMascota"
            android:exported="false" />
        <activity
            android:name=".verMascotas"
            android:exported="false" />
        <activity
            android:name=".agregar_mascota"
            android:exported="false" />
        <activity
            android:name=".cambiarContra"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.PFoodGauge.NoActionBar" />
        <activity
            android:name=".CambiarContra"
            android:exported="false" />
        <activity
            android:name=".temperatura"
            android:exported="false" />
        <activity
            android:name=".rellenar_comida"
            android:exported="false" />
        <activity
            android:name=".rellenar_agua"
            android:exported="false" />
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".funcionalidades"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>